## 데이터 프레임(DataFrame)
- 데이터 분석에 일반적으로 사용되는 표 형식의 데이터 구조
- 행과 열로 구성된 다양한 형태를 가지고 있는 리스트의 집합
- 숫자, 범주 및 텍스트 데이터를 포함하여 다양한 유형의 데이터를 처리할 수 있음

In [3]:
import pandas as pd
import numpy as np

In [7]:
data = np.array([
    [1, 'Alice', 30],
    [2, 'Bob', 25], # 길이가 같아야 생성 가능
    [3, 'Charlie', 35]
])

df = pd.DataFrame(data)
df = pd.DataFrame(data, columns=['ID','Name','Age'])

print(df)

  ID     Name Age
0  1    Alice  30
1  2      Bob  25
2  3  Charlie  35

In [12]:
data2 = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Paris', 'London']
}
df2 = pd.DataFrame(data2)
print(df2)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

### TEXT
- 데이터를 저장하고 표현하기 위해 간단하고 널리 사용되는 형식
- 데이터 포인트가 구분 기호로 구분된 일반 텍스트로 저장됨
- 단순성과 다양한 프로그래밍 언어 및 소프트웨어 응용 프로그램과의 호환성이 좋음
- 복잡한 데이터 구조에 대한 지원 부족
- 데이터 조작 및 분석 기능 제한
- 고급 데이터 작업을 위해 수동 처리 필요

#### CSV(Comma-Separated Values)
- 테이블 형식 데이터 저장 및 교환에 일반적으로 사용되는 특정 유형의 텍스트 파일 형식
- 행 내의 각 필드는 쉼표 또는 기타 지정된 구분 기호로 구분
- CSV 파일은 스프레드시트 소프트웨어 및 데이터베이스 응용 프로그램에서 광범위하게 지원되므로 데이터 공유 및 상호 운용성을 위해 많이 사용 가능함
- 수식이나 서식 옵션 지원 X
- 고급 서식 옵션 부족

In [21]:
path = 'lib/DataFrame_ex.csv'
df_h = pd.read_csv(path, header = 0)
df_nh = pd.read_csv(path, header = None) # 헤더 제거
df_utf8 = pd.read_csv(path, encoding = 'utf-8')
df_cp949 = pd.read_csv(path, encoding = 'cp949')

print(df_cp949)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

In [31]:
print(f"df Info\n차원: {df.shape}\n변수: {df.columns}\n변수 타입: {df.dtypes}\n변수 요약:{df.describe()}\n위에서 5개의 값: {df.head()}\n아래에서 5개의 값: {df.tail()}\n")

df Info
차원: (3, 3)
변수: Index(['Name', 'Age', 'City'], dtype='object')
변수 타입: Name    object
Age      int64
City    object
dtype: object
변수 요약:        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0
위에서 5개의 값:       Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London
아래에서 5개의 값:       Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London