In [1]:
import numpy as np
import pandas as pd

In [37]:
# 1
li1 = [1, 100, 2, 5, 6, 7, 8, 9]
li1.pop(1)
li1.append(10)
print(li1)

[1, 2, 5, 6, 7, 8, 9, 10]

In [48]:
# 2
arr1 = np.array(li1)
arr1 = np.insert(arr1, 2, 3)
arr1 = np.insert(arr1, 3, 4)
arr1 = np.insert(arr1, 10, 11)
print(arr1)

[ 1  2  3  4  5  6  7  8  9 10 11]

In [15]:
# 3
A = arr1[arr1 <= 5] # <= 5
B = arr1[arr1 < 4] # < 4
print(A, B)

[1 2 3 4 5] [1 2 3]

In [16]:
# 4
professor = {'김창균':'033-570-6587', '이두호':'033-570-6583', '이태민':'033-570-6378', '조기필':'033-570-6375', '권세진':'033-570-6377'}
print(professor)

{'김창균': '033-570-6587', '이두호': '033-570-6583', '이태민': '033-570-6378', '조기필': '033-570-6375', '권세진': '033-570-6377'}

In [23]:
# 5
data = {
    'Name' : professor.keys(),
    'Number' : professor.values(),
}
professor_df = pd.DataFrame(data)
print(professor_df)

  Name        Number
0  김창균  033-570-6587
1  이두호  033-570-6583
2  이태민  033-570-6378
3  조기필  033-570-6375
4  권세진  033-570-6377

In [26]:
# 7
test_df = pd.read_csv("lib/Data1.csv")
print(test_df)

       연령     학력  성과능력  성과태도
0  26~30세  대학원졸업     5     4
1  31세 이상  대학교졸업     4     3
2  31세 이상  전문대졸업     4     2
3  26~30세  대학원졸업     4     4
4  20~25세  대학교졸업     4     4